bin/
obj/
target/
Bin/
Debug/
ClientBin/
TestResults/
_ReSharper.*/
*.ReSharper.user
*.resharper.user
*.csproj.user
*.suo
*.sln.cache
*.testsettings
UnitTestResults.xml
TestResult.xml
*.swp
*.log
CreateDB.bat
CreateCouchDB.bat
TestBuild.bat
*.bak
*.Publish.xml
Phalanx/Phalanx_TemporaryKey.pfx
*.json
*.local
packages/
*.nupkg
testoutput.txt
*.*~
*.msi
Debug/
Release/
